{% extends template_base %}
{% load static %}

{% block title %}
UniversitySystem - Meu Perfil
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="space-y-10 p-8 bg-nwhite rounded-xl shadow-lg">

    <h1 class="text-3xl font-bold text-nlightblack">Meu Perfil</h1>

    <div class="flex items-start space-x-10 border-b border-gray-200 pb-8">

        <div class="w-48 h-48 bg-npurple rounded-full flex-shrink-0 relative">
            {% if user.foto %}
            <img src="{{ user.foto.url }}" alt="Foto do Perfil" class="w-full h-full object-cover rounded-full">
            {% else %}
                <div class="w-full h-full flex items-center justify-center text-nwhite font-bold text-6xl">
                    {{ user.first_name|slice:":1"|upper }}
                </div>
            {% endif %}
        </div>

        <div class="pt-6">
            <h2 class="text-3xl font-bold text-nblack mb-4">
                {% if not user.funcao == "AD"%}
                    {{ user.get_funcao_display }}(a): {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.get_funcao_display }}: {{ user.first_name }} {{ user.last_name }}
                {% endif %}
            </h2>

            <div class="flex space-x-3 items-center">

                <form method="POST" action="{% url 'delete_foto' %}">
                    {% csrf_token %}
                    <button class="bg-npurple text-nwhite hover:bg-npurplelight font-medium py-2 px-4 rounded-md transition duration-200" type="submit" onclick="return confirm('Tem certeza que quer deletar?')">Remover foto</button>
                </form>

                <form method="post" enctype="multipart/form-data" action="{% url 'change_foto' %}">
                    {% csrf_token %}
                    
                    <label for="foto" class="bg-transparent text-npurple hover:bg-npurple hover:text-nwhite border border-npurple font-medium py-2 px-4 rounded-md transition duration-200 ">
                        Escolher arquivo
                    </label>
                    <input type="file" name="foto" accept="image/*" onchange="this.form.submit()" id="foto" class="hidden">
                
                </form>


            </div>
        </div>
    </div>

    <div class="space-y-8">
        <h2 class="text-3xl font-bold text-npurple mb-6">Informações</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

            <div>
                <label for="cpf" class="block text-sm font-medium text-nlightblack mb-2">CPF</label>
                <input type="text" id="cpf" value="{{ user.cpf }}" disabled
                    class="w-full p-3 border border-npurplelight rounded-md bg-nwhite text-nblack font-medium"
                    aria-label="CPF do usuário">
            </div>

            <div>
                <label for="nome" class="block text-sm font-medium text-nlightblack mb-2">Nome</label>
                <input type="text" id="nome" value="{{ user.first_name }}" disabled
                    class="w-full p-3 border border-npurplelight rounded-md bg-nwhite text-nblack font-medium"
                    aria-label="Primeiro nome do usuário">
            </div>

            <div>
                <label for="sobrenome" class="block text-sm font-medium text-nlightblack mb-2">Sobrenome</label>
                <input type="text" id="sobrenome" value="{{ user.last_name }}" disabled
                    class="w-full p-3 border border-npurplelight rounded-md bg-nwhite text-nblack font-medium"
                    aria-label="Sobrenome do usuário">
            </div>

            <div>
                <label for="email" class="block text-sm font-medium text-nlightblack mb-2">Email</label>
                <input type="email" id="email" value="{{ user.email }}" disabled
                    class="w-full p-3 border border-npurplelight rounded-md bg-nwhite text-nblack font-medium"
                    aria-label="Email do usuário">
            </div>

            <div>
                <label for="tipo" class="block text-sm font-medium text-nlightblack mb-2">Tipo</label>
                <input type="text" id="tipo" value="{{ user.get_funcao_display }}" disabled
                    class="w-full p-3 border border-npurplelight rounded-md bg-nwhite text-nblack font-medium"
                    aria-label="Tipo de usuário (Aluno, Professor, etc.)">
            </div>

            <div>
                <label for="matricula" class="block text-sm font-medium text-nlightblack mb-2">Matrícula</label>
                <input type="text" id="matricula" value="{{ user.matricula }}" disabled
                    class="w-full p-3 border border-npurplelight rounded-md bg-nwhite text-nblack font-medium"
                    aria-label="Número de matrícula do aluno">
            </div>

        </div>

    </div>

</div>
{% endblock %}